<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>G.squared</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
 
</head>
<body>

<div class='overlay'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-lg-3 col-md-3 hidden-sm hidden-xs'>
                    <img id='profile-picture' src="images/premade.png">
                </div>
                <div id="profile-name" class = 'col-lg-6 col-md-6 hidden-sm hidden-xs'>
                        <h1>Alex Pernislovak</h1>
                </div>
                <div id="profile-house"class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <a href='housepage.html'>
                        <h1>R3-14</h1>
                    </a>
                </div>
            </div>
            <div class='line hidden-sm hidden-xs'>
            </div>
            <div class = 'palette'> 
                <div class = 'password'>
                    password
                </div>    
                <div class = 'password-input'>
                    <form>
                        <input type="text" name="" placeholder="Change password:">
                        <div class= "submit-box">
                            
                            <input type="submit" name="" value="Submit">
                        </div>
                    </form>
                </div>
                <div class = 'password-input'>
                    <form>
                            <input type="text" name="" placeholder="Confirm password:">
                            <div class = 'submit-box'>
                                <input type="submit" name="" value="Submit">
                            </div>
                    </form>
                </div>
            </div>
            <div class='line'>
            </div>
            <img class = 'premade' id = 'premade1' src="images/premade.png" width="100%">
            <img class = 'premade' id = 'premade2' src="images/premade.png" width="100%">
            <img class = 'premade' id = 'premade3' src="images/premade.png" width="100%">
            <img class = 'premade' id = 'premade4' src="images/premade.png" width="100%">
            <img class = 'premade' id = 'premade5' src="images/premade.png" width="100%">
        

            

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>