
<div class="container shadow p-3 mb-5 bg-white rounded green" style="width: 26%; margin-top: 5%;">
  <div class="col">
    <div class="row">
     <h1 style="font-family: Arial,sans-serif;">Create user</h1>
    </div>
    <div class="row">
      <h3><%= link_to 'Users',users_path(@users)%></h3>
    </div>
    <div class="row">
      <h3><%= link_to 'Houses',houses_path(@houses)%></h3>
    </div>
  </div>
</div>
