.index {
  margin: auto;
  width: 1140px;
  margin-bottom: 50px;
  color: #1b1b1b;
h1 {
  font-size: 35px;
  line-height: 38px;
  font-weight: 400;
  }

}
.content{
  margin: 0 auto;
  padding: 60px 0 120px;
}
